<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav mat-tab-nav-bar>
  <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.path"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
  </a>
  <mat-tab label="Roster"></mat-tab>
  <mat-tab label="Finance"></mat-tab>
  <mat-tab label="Schedule"></mat-tab>
  <mat-tab label="League"></mat-tab>
</nav>

<router-outlet></router-outlet>