<div>
  <div>Active League: {{ activeLeagueName }}</div>
  <input matInput placeholder="League Name" #leagueName (keyup)='AssignName(leagueName.value)'  />
  <mat-form-field>
      <mat-label>Team</mat-label>
      <mat-select [(value)]="selectedTeam">
        <mat-option *ngFor="let team of teamFullNames" [value]="team">
          {{team}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <button mat-raised-button color="primary" (click)="GenerateLeague()">Generate League</button>  
  </div>
<div class="flex-container" *ngFor="let leagueName of leagueNames">
  <div>{{ leagueName }}</div>
  <div><button mat-raised-button color="primary" (click)="LoadLeague(leagueName)">Load League</button></div>
  <div><button mat-raised-button color="warn" (click)="DeleteLeague(leagueName)">Delete League</button></div>
</div>
<div class="errorText">{{ errorText }}</div>