<table mat-table [dataSource]='dataSource'>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef='let element'> {{ element.Name }}</td>
  </ng-container>
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <td mat-cell *matCellDef='let element'> {{ element.Age | number:'1.0-0' }}</td>
  </ng-container>
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Weigh</th>
    <td mat-cell *matCellDef='let element'> {{ element.Weight | number:'1.0-0' }}</td>
  </ng-container>
  <ng-container matColumnDef="awareness">
      <th mat-header-cell *matHeaderCellDef>Awareness</th>
      <td mat-cell *matCellDef='let element'> {{ element.Stats.Awareness | number:'1.0-0' }}</td>
    </ng-container>
  <ng-container matColumnDef="blocking">
    <th mat-header-cell *matHeaderCellDef>Blocking</th>
    <td mat-cell *matCellDef='let element'> {{ element.Stats.Blocking | number:'1.0-0' }}</td>
  </ng-container>
  <ng-container matColumnDef="speed">
    <th mat-header-cell *matHeaderCellDef>Speed</th>
    <td mat-cell *matCellDef='let element'> {{ element.Stats.Speed | number:'1.0-0' }}</td>
  </ng-container>
  <ng-container matColumnDef="catching">
    <th mat-header-cell *matHeaderCellDef>Catching</th>
    <td mat-cell *matCellDef='let element'> {{ element.Stats.Catching | number:'1.0-0' }}</td>
  </ng-container>
  <ng-container matColumnDef="passing">
    <th mat-header-cell *matHeaderCellDef>Passing</th>
    <td mat-cell *matCellDef='let element'> {{ element.Stats.Passing | number:'1.0-0' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>>